/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
   
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #C1DEAE;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


.card {
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding: 1.5em .5em .5em;
    border-radius: 2em;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

#create-button{
    margin-right: 0;
}


#ttl {
    border-radius: 2em;
    background-color: teal;
    color: #ffffff;
    padding: .5em 1.5em;
}

#ttl:hover {
    background-color: rgba(0, 128, 128, 0.7);
    color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#button-na:hover {
    background-color: #C1DEAE;
    color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#button-na {
    border-radius: 2em;
    padding: .5em 1.5em;
}


#button-home:hover {
    background-color: #018080;
    color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#button-home {
    border-radius: 2em;
    padding: .5em 1.5em;
    background-color: #018080;
    color: #ffffff;
}

#label-create {
    float:left;
}


h1,h2,h3,h4,h5 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.header-title {
    color: #018080;
}

.align-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#students {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    border-collapse: collapse;
    width: 100%;
}

#students td, #students th {
    border: 1px solid #ddd;
    padding: 8px;
}

#students tr:nth-child(even) {
    background-color: #F2F5C8;
}

#students tr:hover {
    background-color: #ddd;
}

#students th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #219F94;
    color: white;
    }


#grid {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    border-collapse: collapse;
    width: 100%;
}

    #grid td, #grid th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #grid tr:nth-child(even) {
        background-color: #F2F5C8;
    }

    #grid tr:hover {
        background-color: #ddd;
    }

    #grid th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: #219F94;
        color: white;
    }

.box {
    display: flex;
    align-items: center;
}

button img {
    margin-bottom: .25em;
}

div h1{
    margin-left: .15em;
}
