@{
    @*ViewData["Title"] = "Contact Us";*@
}
@*<h1>@ViewData["Title"]</h1>*@

<div class="text-center card">
    <div class="container my-2">

        <div class="row card-header align-card">
            <img src="@Url.Content("~/Image/icons/contact_icon.png")" width="60" height="60">
            <h1 class="header-title mt-2">Contact Us</h1>
        </div>
        <br />
        <address>
            King's Own Institute <br>
            Send us an e_mail: <a href="mailto:reception@koi.edu.au">KOI Reception e_mail</a>.<br>
            17 O'Connell St, Sydney NSW 2000<br>
            AUSTRALIA
        </address>

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3312.961045527749!2d151.20722291494968!3d-33.864894780657366!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12afe81b9bb8b9%3A0x9a81e3d0456af3dc!2sKing&#39;s%20Own%20Institute!5e0!3m2!1sen!2sau!4v1643351003859!5m2!1sen!2sau" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

    </div>
 </div>

