@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center card">
    <div class="container my-2">
        @*<h1 class="display-4">Seminar Management System</h1>*@
        <img src="@Url.Content("~/Image/seminar_logo.png")" width="500" height="500" class="d-inline-block align-top" alt="">


        <h4 class="text-left text-secondary">Developed by:</h4>

        <table id="students" class="">
            <thead>
                <tr>
                    <th>Students Name</th>
                    <th>Student ID</th>
                </tr>
            </thead>
            <tr>
                <td> Josefa Juliana Costa Santana</td>
                <td> 12001814 </td>
            </tr>
            <tr>
                <td> Diogo Felipe Poletti</td>
                <td> 12001683 </td>
            </tr>
            <tr>
                <td> Mauricio Chaves Dias</td>
                <td> 12001727 </td>
            </tr>

        </table>
    </div>
</div>