@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>Students Details</h3>
    <table class="text-sm-center">
        <thead>
            <tr>
                <th>Students Name</th>
                <th>Student ID</th>
            </tr>
        </thead>
        <tr>
            <td> Juliana</td>
            <td> 12001814 </td>
        </tr>
        <tr>
            <td> Diogo</td>
            <td> 12001814 </td>
        </tr>
        <tr>
            <td> Mauricio</td>
            <td> 12001814 </td>
        </tr>
    </table>
</div>
