@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center card">
    <div class="container my-2">
        <h1 class="display-4">MVC Web Application</h1>


        <h3>Students Details</h3>

        <table id="students" class="">
            <thead>
                <tr>
                    <th>Students Name</th>
                    <th>Student ID</th>
                </tr>
            </thead>
            <tr>
                <td> Josefa Juliana Costa Santana</td>
                <td> 12001814 </td>
            </tr>
            <tr>
                <td> Diogo Felipe Poletti</td>

                <td> 12001683 </td>
            </tr>
            <tr>
                <td> Mauricio Chaves Dias</td>
                <td> 12001727 </td>
            </tr>

        </table>
    </div>
</div>